<!DOCTYPE html>
<html lang="en">

<%- include(baseUrl + '/mail/org-main/head.ejs'); %>

<body bgcolor="#FFFFFF">

    <%- include(baseUrl + '/mail/org-main/header-email.ejs'); %>


    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <p class="callout">
                                    Hai <%= data.name %> ,kamu telah request untuk <b>Lupa kata sandi</b>, jika kamu tidak melakukan tindakan tersebut, abaikan email ini
                                </p>

                                <p class="lead">
                                    Untuk mereset sandi Anda, silahkan klik link berikut ini: <a href="<%= url + '/backend/reset-token/' + data.token %>">Reset Sandi</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    
    <%- include(baseUrl+ '/mail/org-main/footer.ejs') %>
</body>
</html>