<!DOCTYPE html>
<html lang="en">

<%- include(baseUrl + '/mail/org-main/head.ejs'); %>

<body bgcolor="#FFFFFF">

    <%- include(baseUrl + '/mail/org-main/header-email.ejs'); %>


    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    
                    <% if( data.isRefunded ) { %>
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        Dear <%= data.name %> ,<br><br>
                                        this is notification about Your request to refund for <b> <%= data.invoice_no %> | <%= data.billId %> </b> with amount:
                                        <br/>
                    
                                        <b><%= data.currency + " " + data.amount %></b> <br/>
                                    </p>
                    
                                    <p>You can sees the refund as a credit approximately 7-21 business days later.</p>
                                </td>
                            </tr>
                        </table>
                    <% } else { %>

                    <table>
                        <tr>
                            <td>
                                <p>
                                    Dear <%= data.name %>,<br><br>
                                    This information shall notify you about your refund request under <b><%= data.invoice_no %></b> with amount of:
                                    <br/>
                
                                    <b><%= data.currency + " " + data.amount %></b> <br/>
                                </p>
                                <p>Please proceed with clicking the "Confirm Refund" button below</p><br/>
                                <a href="<%= data.confirm_user_link %>">
                                    CONFIRM REFUND
                                </a><br/>
                                <p class="text-danger">Should the information above is misleading or you do not wish any refund, please do not click the button and contact our support team immediately.</p>
                            </td>
                        </tr>
                    </table>

                    <% } %>
                
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    
    <%- include(baseUrl+ '/mail/org-main/footer.ejs') %>
</body>
</html>