<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Informations</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .btn-link {
            background-color: #008CBA; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        table{
            width: 100%;
        }
        p{
            letter-spacing: 1px;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top:1rem;padding:15px;">

        <table>
            <tbody>
                <tr>
                    <td><strong>Hello <%= email %></strong></td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Gunakan akun berikut untuk login di IMPORTIR.ID
                        </p>
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <strong>Email :</strong> <%= email %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Password :</strong> importirid123
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><i>Mohon untuk segera mengganti password default anda</i></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://importir.id/login" class="btn-link">
                           Login Sekarang
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>