<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example mail template</title>
</head>
<body>
    <p>Hello <%= email %>, Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cupiditate minima laborum assumenda velit minus sed aliquam explicabo, accusantium labore iure aperiam ipsa architecto ea nulla odit expedita enim. Cumque.</p>
</body>
</html>