<!DOCTYPE html>
<html lang="en">

<%- include(baseUrl + '/mail/org-main/head.ejs'); %>

<body bgcolor="#FFFFFF">

    <%- include(baseUrl + '/mail/org-main/header-email.ejs'); %>


    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                   
                    <table>
                        <tr>
                            <td>
                                <h4>Hii <%= data.name %></h4>
                                <p class="callout">
                                    <%= data.content %>
                                    <br>
                                    <% if( data.invoice || data.invoice !== '' ) { %>
                                        <div style="text-align: center">
                                            <a class="btn" style="background-color: rgb(254, 215, 0); color:black" href="<%= url + '/history-order' %>">Detail Order</a>
                                        </div>
                                    <% } %>
                                </p>
                            </td>
                        </tr>
                    </table>
                
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    
    <%- include(baseUrl+ '/mail/org-main/footer.ejs') %>
</body>
</html>