 
    <div class="content">

        <table class="social" width="100%">
            <tr>
                <td>
                    <table align="left" class="column">
                        <tr>
                            <td>
                                <h5 class="">Connect with Us:</h5>
                                <p class="">
                                    <a href="https://www.facebook.com/importir.org/" class="soc-btn fb">Facebook</a>
                                    <a href="https://www.instagram.com/importirorg/" class="soc-btn ig">Instagram</a>
                                    <a href="https://www.youtube.com/channel/UCm82ZIloMS7lzlqqy2VUgVA" class="soc-btn yt">Youtube</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table align="left" class="column">
                        <tr>
                            <td>
                                <h5 class="">Contact Info:</h5>
                                <p>
                                    Phone: <strong>(021) 55715045</strong>
                                    <br/>
                                    Email: <strong><a href="mailto:sales@importir.org">sales@importir.org</a></strong>
                                </p>
                                <p>
                                    Metland Tangerang, Jl. Puri Utama Blok C2 | 
                                    No. 7, RT.004/RW.008, Petir, Cipondoh, 
                                    Tangerang City, Banten 15147
                                </p>
                            </td>
                        </tr>
                    </table>                                
                    <span class="clear"></span>
                </td>
            </tr>
        </table>
        
        
    </div>