<table class="head-wrap" bgcolor="#fed700">
    <tr>
        <td></td>
        <td class="header container">
            <div class="content">
                <table>
                    <tr>
                        <td class="title"><a class="a-none" href="<%= url %>">
                            IMPORTIR Group
                        </a></td>
                        <td align="right">
                            <h6 class="collapse"><%= data.title ? data.title : "Informasi" %></h6>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>